*{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #C603D7;
}
body.dark{
    --color-bg: #0b0514;
    --color-bg-header: #0e0718;
    --color-theme-border: #D8BAFF;
    --color-text: #FFFF;
}
body.light{
    --color-bg: #e0c9fd;
    --color-bg-header: #dac0ff;
    --color-theme-border: #0D0316;
    --color-text: #000000;
}

body{
    overflow-x: hidden;
    width:100vw;    
    background-color: var(--color-bg);
    transition: background-color 0.3s ease;
}
._container{
    max-width: 1600px;
    margin: 0 auto;
}
.title{
    width: 65%;
    max-height: 300px;
    font-family: "Julius Sans One", sans-serif;
    color: #C603D7;
    font-size: 128px;
    text-shadow: 0 0 100px #C603D7, 0 0 100px #C603D7;
}
.subtitle{
    font-family: "Inter";
    font-weight: 700;
    font-size: 30px;
    color: #9747FF;
}
.subtitle2{
    font-family: "Inter";
    font-weight: 800;
    font-size: 17px;
    color: #6D32BA;
}