{% extends "general/base.html" %}

{% load static %}
{% load goods_tags %}

{% block link %}
<link rel="stylesheet" href="{% static 'general/css/main.css' %}">
<link rel="stylesheet" href="{% static 'shopapp/css/shopapp.css' %}">
{% endblock %}

{% block bodyclass %}dark{% endblock %}

{% block content %}
<div class="wrapper">
    <header class="header" id="home">
        <div class="header__container _container">        
            <a class="header-logo__link" href="{% url "shopapp:home" %}"><img class="header-logo" src="{% static 'shopapp/img/header/logo.png' %}" alt="logo"></a>
            <button class="header-button">Catalog</button>
            <ul class="header__row">
                <li><a href="#about-us" class="header__item">About us</a></li>
                <li><a href="#contact" class="header__item">Contact</a></li>  
                <li><a class="header__item header__item-l" href="{% url "auth:login" %}">Login</a></li>  
            </ul>
            <img class="header-menu" src="{% static 'shopapp/img/header/menu.png' %}" alt="menu">
        </div>
    </header>

    <div class="_container catalog-menu-container">
        <div class="catalog-menu">
            <ul class="catalog-menu__row">
                {% tag_categories as categories %}
                {% for category in categories %}
                <li>
                    <a href="{% url "goods:catalog" %}">
                        <div class="catalog-menu__item">
                            <span class="subtitle">{{ category.name }}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% block main_content %}{% endblock%}

    <div class="burger-menu__container">
        <div class="burger-menu">
            <div class="burger-menu__close"></div>
            <div class="burger-menu__header">
                <ul class="burger-menu__row">
                    <li class="burger-menu__item">Shop</li><br>
                    <li class="burger-menu__item">Login</li><br>
                    <li class="burger-menu__item">About us</li><br>
                    <li class="burger-menu__item">Contact</li><br>
                </ul>
            </div>
            <div class="burger-menu__theme">
                <p class="about-us__text">Change theme</p>
                <div class="burger-menu__theme-container">
                    <div class="burger-menu__theme-dark"></div>
                    <div class="burger-menu__theme-light"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="blackout"></div>
    <footer class="footer" id="contact">
        <div class="footer__container _container">
            <ul class="social-links">   
                <li><div class="social-img social-img1"><a href="https://telegram.org/" target="_blank"><img src="{% static 'shopapp/img/footer/social/telegram.png' %}" alt="telegram"></a></div></li>
                <li><div class="social-img social-img1"><a href="https://www.instagram.com/" target="_blank"><img src="{% static 'shopapp/img/footer/social/instagram.png' %}" alt="instagram"></a></div></li>
                <li><div class="social-img social-img1"><a href="https://www.facebook.com/" target="_blank"><img src="{% static 'shopapp/img/footer/social/facebook.png' %}" alt="facebook"></a></div></li>
            </ul>
            <ul class="footer-nav__row">
                <li><a class="footer-nav__item" href="#home">Home</a></li>
                <li><a class="footer-nav__item" href="{% url "goods:catalog" %}">Shop</a></li>
            <li><a class="footer-nav__item" href="#about-us">About us</a></li>
            </ul>
            <p class="footer-copyright">&copy; 2024 Comptech Inc. All Rights Reserved</p>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
<script src="{% static 'shopapp/js/script.js' %}"></script>
{% endblock %}