{% extends "general/home.html" %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'shopapp/css/main.css' %}">
<link rel="stylesheet" href="{% static 'goods/css/goods.css' %}">
{% endblock %}

{% block main_content %}
<div class="main_content">
    <div class="_container _container-catalog">
        <div class="catalog-container">
            {% for obj in goods %}
                <div class="catalog__item">
                    <img src="{% static obj.img %}" alt="" class="catalog__item-img">
                    <h2 class="subtitle">{{ obj.title }}</h2>
                    <h3 class="subtitle subtitle-price">{{ obj.price }}</h3>
                    <a href="#"><img src="{% static "goods/img/basket.png" %}" alt="" class="basket"></a>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}