{% extends 'users/auth.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block auth-title %}
Sign up
{% endblock %}

{% block signup %}
<label>
    Confirm password:<br>
    <input type="password" name="confirm password" class="auth-input"/><br>
</label>
{% endblock %}

{% block anotherway %}
<h2 class="auth-subtitle">Already have an account?</h2>
<a href="{% url "auth:login" %}">
    <h1 class="auth-title auth-title__signup">Log in</h1>
</a>
{% endblock %}

{% block auth-button %}
Sign up
{% endblock %}