{% extends "base.html" %}

{% load static %}
{% load goods_tags %}

{% block link %}
<link rel="stylesheet" href="{% static 'shopapp/css/shopapp.css' %}">
{% endblock %}

{% block bodyclass %}{{ request.session.theme|default:"light" }}{% endblock %}

{% block content %}
<div class="wrapper">
    <header class="header" id="home">
        <div class="header-container _container">        
            <a class="header-logo" href="{% url "shopapp:home" %}"><img src="{% static 'shopapp/img/header/logo.png' %}" alt="logo"></a>
            <button class="header-button">Catalog</button>
            <ul class="header__row">
                <li>
                    {% if user.is_authenticated %}
                    <a class="header__item" href="{% url "user:profile" %}">
                        {% if user.is_admin or user.is_staff %}
                            <img src="{% static "shopapp/img/header/profile/user_admin.png" %}" alt="">
                        {% else %}
                            <img src="{% static "shopapp/img/header/profile/user.png" %}" alt="">
                        {% endif %}
                        <p class="header-name">{% if user.name %}{{ user.name }}{% else %}{{ user.get_short_name }}{% endif %}</p>
                    </a>
                    {% else %}
                    <a class="header__item" href="{% url "user:login" %}">
                        <img src="{% static "shopapp/img/header/login.png" %}" alt="">
                        <p class="header-name">Login</p>
                    </a>
                    {% endif %}
                </li>  
                <li>
                    <form action="{% url "catalog:search" %}" method="get" id="searchform">
                        <div class="header-search__container">
                            <input type="text" class="header-search" placeholder="Search..." name="q" autocomplete="off">
                            <a class="search-img" onclick="document.getElementById('searchform').submit()"><img src="{% static "shopapp/img/header/search.png" %}" alt=""></a>
                        </div>
                    </form>
                </li>
            </ul>
            <img class="header-menu" src="{% static 'shopapp/img/header/menu.png' %}" alt="menu">
        </div>
    </header>

    <div class="_container catalog-menu-container">
        <div class="catalog-menu-wrapper">
            <div class="catalog-menu">
                {% tag_categories_with_subcategories as categories %}
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{% url "catalog:index" category.slug %}" class="catalog-menu__category" data-categoryid="{{ category.id }}">
                                <p class="subtitle">{{ category.name }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% for category in categories %}
                <div class="catalog-menu-subcategories" id="{{ category.id }}">
                    <ul>
                        {% for sub_category in category.sub_categories.all %}
                            <li style="margin-bottom: 45px;">
                                <a href="{% url "catalog:index" sub_category.slug %}" class="catalog-menu__subcategory">
                                    {% if sub_category.image %}
                                        <img src="{{ sub_category.image.url }}" alt="">
                                    {% endif %}
                                    <p class="subtitle" style="font-weight: 800">{{ sub_category.name }}</p>
                                </a>
                                <ul style="margin-left: 70px;">
                                    {% for sub_sub_category in sub_category.sub_categories.all %}
                                        <li style="margin-bottom: 15px;">
                                            <a href="{% url "catalog:index" sub_sub_category.slug %}" class="subtitle subsubcategory-title">{{ sub_sub_category.name }}</ф>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

    {% block main_content %}{% endblock%}

    <div class="burger-menu__container">
        <div class="burger-menu">
            <div class="burger-menu__close"></div>
            <div class="burger-menu__header">
                <ul class="burger-menu__row">
                    <li class="burger-menu__item">Shop</li><br>
                    <li class="burger-menu__item">Login</li><br>
                    <li class="burger-menu__item">About us</li><br>
                    <li class="burger-menu__item">Contact</li><br>
                </ul>
            </div>
            <div class="burger-menu__theme">
                <p class="subtitle about-us__text">Change theme</p>
 
                <form id="changeThemeForm" class="burger-menu__theme-form">
                    {% csrf_token %}
                    <div class="burger-menu__theme-container">
                        <button type="button" data-theme="dark" data-url="{% url "shopapp:change_theme" %}" class="changeThemeButton burger-menu__theme-dark" {% if not request.session.theme or request.session.theme == 'dark' %}disabled{% endif %}></button>
                        <button type="button" data-theme="light" data-url="{% url "shopapp:change_theme" %}" class="changeThemeButton burger-menu__theme-light" {% if request.session.theme == 'light' %}disabled{% endif %}></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer" id="contact">
        <div class="footer__container _container">
            <ul class="social-links">   
                <li><a class="social-img" href="https://telegram.org/" target="_blank"><img src="{% static 'shopapp/img/footer/social/telegram.png' %}" alt="telegram"></a></li>
                <li><a class="social-img" href="https://www.instagram.com/" target="_blank"><img src="{% static 'shopapp/img/footer/social/instagram.png' %}" alt="instagram"></a></li>
                <li><a class="social-img" href="https://www.facebook.com/" target="_blank"><img src="{% static 'shopapp/img/footer/social/facebook.png' %}" alt="facebook"></a></li>
            </ul>
            <ul class="footer-nav__row">
                <li><a class="footer-nav__item" href="#home">Home</a></li>
                <li><a class="footer-nav__item" href="{% url "catalog:index" "all" %}">Shop</a></li>
                <li><a class="footer-nav__item" href="#about-us">About us</a></li>
            </ul>
            <p class="footer-copyright">&copy; 2024 Comptech Inc. All Rights Reserved</p>
        </div>
    </footer>
</div>
<div class="blackout"></div>

<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}