{% extends "base.html" %}

{% load static %}
{% load goods_tags %}

{% block link %}
<link rel="stylesheet" href="{% static 'shopapp/css/shopapp.css' %}">
{% endblock %}

{% block bodyclass %}{{ request.session.theme|default:"dark" }}{% endblock %}

{% block content %}
<div class="wrapper">
    <header class="header" id="home">
        <div class="header__container _container">        
            <a class="header-logo__link" href="{% url "shopapp:home" %}"><img class="header-logo" src="{% static 'shopapp/img/header/logo.png' %}" alt="logo"></a>
            <button class="header-button">Catalog</button>
            <ul class="header__row">
                <li>
                    {% if user.is_authenticated %}
                    <a class="header__item-l" href="{% url "user:profile" %}">
                        {% if user.is_admin or user.is_staff %}
                        <img src="{% static "shopapp/img/header/profile/user_admin.png" %}" alt="">
                        {% else %}
                        <img src="{% static "shopapp/img/header/profile/user.png" %}" alt="">
                        {% endif %}
                        <p class="header__item">{% if user.name %}{{ user.name }}{% else %}{{ user.get_short_name }}{% endif %}</p>
                    </a>
                    {% else %}
                    <a class="header__item-l" href="{% url "user:login" %}">
                        <img src="{% static "shopapp/img/header/login.png" %}" alt="">
                        <p class="header__item">Login</p>
                    </a>
                    {% endif %}
                </li>  
                <li>
                    <form action="{% url "catalog:search" %}" method="get" id="searchform">
                        <div class="header-search__container">
                            <input type="text" class="header-search" placeholder="Search..." name="q" autocomplete="off">
                            <a class="search-img" onclick="document.getElementById('searchform').submit()"><img src="{% static "shopapp/img/header/search.png" %}" alt=""></a>
                        </div>
                    </form>
                </li>
            </ul>
            <img class="header-menu" src="{% static 'shopapp/img/header/menu.png' %}" alt="menu">
        </div>
    </header>

    <div class="_container catalog-menu-container">
        <div class="catalog-menu">
            <ul class="catalog-menu__row">
                {% tag_categories as categories %}
                {% for category in categories %}
                <li>
                    <a href="{% url "catalog:index" category.slug %}">
                        <div class="catalog-menu__item">
                            <span class="subtitle">{{ category.name }}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% block main_content %}{% endblock%}

    <div class="burger-menu__container">
        <div class="burger-menu">
            <div class="burger-menu__close"></div>
            <div class="burger-menu__header">
                <ul class="burger-menu__row">
                    <li class="burger-menu__item">Shop</li><br>
                    <li class="burger-menu__item">Login</li><br>
                    <li class="burger-menu__item">About us</li><br>
                    <li class="burger-menu__item">Contact</li><br>
                </ul>
            </div>
            <div class="burger-menu__theme">
                <p class="about-us__text">Change theme</p>
 
                <form id="changeThemeForm" class="burger-menu__theme-form">
                    {% csrf_token %}
                    <div class="burger-menu__theme-container">
                        <button type="button" data-theme="dark" data-url="{% url "shopapp:change_theme" %}" class="changeThemeButton burger-menu__theme-dark" {% if not request.session.theme or request.session.theme == 'dark' %}disabled{% endif %}></button>
                        <button type="button" data-theme="light" data-url="{% url "shopapp:change_theme" %}" class="changeThemeButton burger-menu__theme-light" {% if request.session.theme == 'light' %}disabled{% endif %}></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer" id="contact">
        <div class="footer__container _container">
            <ul class="social-links">   
                <li><div class="social-img social-img1"><a href="https://telegram.org/" target="_blank"><img src="{% static 'shopapp/img/footer/social/telegram.png' %}" alt="telegram"></a></div></li>
                <li><div class="social-img social-img1"><a href="https://www.instagram.com/" target="_blank"><img src="{% static 'shopapp/img/footer/social/instagram.png' %}" alt="instagram"></a></div></li>
                <li><div class="social-img social-img1"><a href="https://www.facebook.com/" target="_blank"><img src="{% static 'shopapp/img/footer/social/facebook.png' %}" alt="facebook"></a></div></li>
            </ul>
            <ul class="footer-nav__row">
                <li><a class="footer-nav__item" href="#home">Home</a></li>
                <li><a class="footer-nav__item" href="{% url "catalog:index" "all" %}">Shop</a></li>
            <li><a class="footer-nav__item" href="#about-us">About us</a></li>
            </ul>
            <p class="footer-copyright">&copy; 2024 Comptech Inc. All Rights Reserved</p>
        </div>
    </footer>
</div>
<div class="blackout"></div>

<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}