/*!!!!!!!!!!!!!!!!! HEADER !!!!!!!!!!!!!!!!!*/

.header{
    z-index: 10;
    width: 100%;
    height: 100px;
    box-shadow: 0px 4px 10px rgb(57, 0, 107);
    background-color: var(--color-bg-header);  
    transition: background-color 0.3s ease;
}
.header__container{
    height: 100%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}
.header-logo__link{
    z-index: 10;
    margin-right: auto;
}
.header-logo{
    width: 70px;
    transition: filter 0.4s ease;
}
.header-logo:hover{
    filter: drop-shadow(0px 0px 30px #622C8E);
}
.header__row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__row li {
    margin: 0px 35px;
}

.header__item {
    position: relative;
    font-family: "Montserrat";
}
.header__item:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    border-top: 1px solid #C603D7;
    transition: width 0.3s ease;
}
.header__item-l p:before {
    content:"";
    bottom: -2px;
}
.header__item-l{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__item-l img {
    margin-right: 2px;
    width: 25px;
}
.header__item-l:hover p:before{
    width: 100%;
}
.header-search__container {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #d2b2ff;
    border: 2px solid #C603D7;
    border-radius: 3px;
    width: 300px;
    height: 35px;
}
.header-search {
    display: block;
    padding-left: 5px;
    width: 87%;
    height: 100%;
    color: #0D0316;
    align-content: center;
    font-weight: 600;
    background-color: transparent;
}
.search-img {
    position: absolute;
    right: 0;
    display: block;
    width: 32px;
    height: 100%;
    margin-left: 0px;
    cursor: pointer;
    align-content: center;
}
.search-img img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.header-button{
    font-family: "Montserrat";
    padding: 10px 45px;
    color: #C603D7;
    background-color: transparent;
    border: 1.5px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease-out;
}
.header-button:hover{
    border-color: #C603D7;
}
.header-menu{
    height: 60%;
    margin: 0 0 0 5%;
    cursor: pointer;
    z-index: 10;
    transition: filter 0.3s ease;
}
.header-menu:hover{
    filter: brightness(1.2);
}

@media (max-width:820px){
    .header__row li{
        display: none;
    }
    .header-button{
        display: none;
    }
}

/*!!!!!!!!!!!!!!!!! /HEADER !!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!!  CATALOG  !!!!!!!!!!!!!!!!!*/

.catalog-menu-container{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 80px;
    left: 0;
    right: calc(-1 * (100vw - 100%));
    bottom: 0;
    margin: auto;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.catalog-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-header);
    height: 100%;
    padding: 20px;
}
.catalog-menu-container.active{
    opacity: 1;
    visibility: visible;
}
.catalog-menu__item {
    position: relative;
    width: 20%;
    padding: 15px 0 15px 10px;
    border: 2px solid transparent;
    border-bottom: 2px solid #c503d780;
    transition: border 0.2s ease;
}
.catalog-menu__item:hover {
    border: 2px solid #C603D7;
}

/*!!!!!!!!!!!!!!!!!  /CATALOG  !!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!! MAIN !!!!!!!!!!!!!!!!!*/

.main{
    margin: 100px 0 0 0;
    display: flex;
    position: relative;
}
.main img{
    width: 450px;
    z-index: -1;
    margin-left: auto;
    border-radius: 45px 100px 45px 100px; 
    box-shadow: 0px 0px 394px #400077, 0px 0px 225px #400077, 0px 0px 200px #400077;
}
.main-button__div{
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-button{
    position: relative;
    overflow: hidden;
    background-color: #90069C;
    width: 212px;
    height: 85px;
    font-family: "Inter";
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    border-radius: 27px;
    transition: box-shadow 0.4s ease-out, background-color 0.4s ease-out, width 0.4s ease-out;
}
.main-button:after{
    content: "";
    background-image: url('/static/shopapp/img/main/shopping-cart.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 17px;
    right: -60px;
    transition: right 0.4s ease-out;
}
.main-button:hover{
    content: "";
    width: 230px;
    background-color: #B202C1;
    box-shadow: 0 0 34px #B202C1, 0 0 20px #B202C1, 0 0 10px #B202C1;
}
.main-button:hover:after{
    content: "";
	right: 10px; 
}
@media (max-width:1549px){
    .main img{
        width: 400px;
    }
    .title{
        font-size: 110px;
        
    }   
    .main-button__div{
        margin: 400px 0 0 0;
    } 
}
@media (max-width:1055px){
    .main img{
        width: 300px;
    }
    .title{
        font-size: 85px;
    }    
    .main-button__div{
        margin: 300px 0 0 0;
    } 
    .main-button{
        width: 170px;
        height: 65px;
        font-size: 24px;
    }
}
@media (max-width:820px){
    .main img{
        width: 250px;
    }
    .title{
        font-size: 55px;
    }    
}
@media (max-width:720px){
    .main img{
        display: none;
    }
}

/*!!!!!!!!!!!!!!!!! /MAIN !!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!! ABOUT US !!!!!!!!!!!!!!!!!*/

.about-us{
    margin: 150px 0 0 0;
}
.about-us__title{
    width: 100%;
    font-size: 96px;
    text-align: center;
}
.about-us__text{
    padding: 30px 0px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 30px;
    color: #9747FF;
    line-height: 150%;
    text-align: center;
}
.about-us__title2{
    margin: 50px 0 20px 0;
    font-size: 66px;
}
.providings{
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
}
.providings div{
    position: relative;
    overflow: hidden;
}
.providings div img{
    display: block;
    margin: 5px auto;
}
.providings .provide-subtitle{
    margin: 5px 0;
}

/*!!!!!!!!!!!!!!!!! /ABOUT US !!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!!  MENU !!!!!!!!!!!!!!!!!*/

.burger-menu__container{
    min-width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -50%;
    z-index: 20;
    background-color: var(--color-bg);
    transition: background-color 0.3s ease, right 0.7s ease;
}
.burger-menu{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.burger-menu__close{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.burger-menu__close:before, .burger-menu__close:after{
    content: "";
    position: absolute;
    top:50%;
    right: 0;
    width: 100%;
    height: 4px;
    background: #C603D7;
}
div:after {transform: rotate(45deg);}
div:before {transform: rotate(-45deg);}

.burger-menu__container.active{
    right: 0;
}
.burger-menu__item{
    font-size: 24px;
}
.burger-menu__theme{
    width: 100%;
    height: 140px;
    margin: 120px 0 0 0;
}
.burger-menu__theme p{
    font-size: 24px;
    padding: 0;
    margin: 0 auto;
}
.burger-menu__theme-container{
    display: flex;
    width: 250px;
    height: 22%;
    margin: 2% auto;
    border-radius: 13px;
    border: 3px solid var(--color-theme-border);
    transition: background-color 0.3s ease;
} 
.burger-menu__theme-dark, .burger-menu__theme-light{
    width: 50%;
    background-color: #0D0316;
    border-radius: 8px 0 0 8px;
}
.burger-menu__theme-light{
    border-radius: 0 8px 8px 0;
    background-color: #D8BAFF;
}

.blackout {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0; 
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
.blackout.active{
    visibility: visible;
    opacity: 1;
}

.burger-menu__header{
    display: none;
}
@media (max-width:1024px){
    .burger-menu__container{
        width: 50%;
    }
}
@media (max-width:820px){
    .burger-menu__header{
        display: block;
        position: absolute;
        top: 0;
        left: 20%;
        margin: 130px 0 0 0;
    }
    .burger-menu__header li{
        display: inline-block;
        position: relative;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .burger-menu__theme{
        align-self: flex-end;
        margin: 0 0 150px 0;
        
    }
    .burger-menu__theme-container{
        width: 200px;
    }
}

@media (max-width:450px){
    .burger-menu__theme-container{
        width: 130px;
    }
    .burger-menu__theme p{
        font-size: 18px;
    }  
    .burger-menu__close{
        width: 50px;
        height: 50px;
    }
}
/*!!!!!!!!!!!!!!!!!  /MENU !!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!!  FOOTER !!!!!!!!!!!!!!!!!*/
.footer{
    background-color: var(--color-bg-header);
    box-shadow: 0 -2px 20px #9747FF;
    width: 100%;
    margin: 200px auto;
    transition: background-color 0.3s ease ;
}
.footer__container{
    padding: 20px 0;   
}
.social-links{
    display: flex;
    width: 100%;
    margin: 0 -15px;
    justify-content: center;
}

.social-img{
    position: relative;
    z-index: 1;
    margin: 0 10px;
    height: 30px;
    width: 30px;
    transition: transform 0.2s ease;
}
.social-img img{
    width: 100%;
    height: 100%;
}
.social-img:hover{
    transform: translateY(-5px);
}

.footer-nav__row{
    display: flex;
    width: 20%;
    margin: 20px auto;
    justify-content: space-between;
}
.footer-nav__item{
    position: relative;
    font-family: "Montserrat";
    font-size: 20px;
}
.footer-nav__item:before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-top: 1px solid #C603D7;
    content:"";
    transition: width 0.3s ease;
}
.footer-nav__item:hover:before{
    width: 100%;
}
.footer-copyright{
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #c603d7;
}
/*!!!!!!!!!!!!!!!!!  /FOOTER  !!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!!  SCROLL  !!!!!!!!!!!!!!!!!*/
* {
    scroll-behavior: smooth;
  }

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #9747FF;
}

/*!!!!!!!!!!!!!!!!!  /SCROLL  !!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!!  COMPONENTS  !!!!!!!!!!!!!!!!!*/

.components {
    position: relative;
    display: flex;
    justify-content: start; 
}
.components-container{
    margin-top: 60px;
}
.components-title {
    width: 100%;
    height: 100%;
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 0 0 20px #90069C;
}
.components__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 220px;
    background-color: var(--color-bg-header);
    border: 2px solid #C603D7;
    border-radius: 0px;
    margin-right: 30px;
    z-index: 1;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.components__item:hover{
    transform: scale(105%);
}
.components__item img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
}
.components__item__videocard, .components__item__motherboard {
    transform: scale(1.5);
}
.components__item__motherboard {
    transform: scale(1.2);
}
.components__item p{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    color: #9747FF;
    font-weight: 800;
    margin-top: 30px;
}
/*!!!!!!!!!!!!!!!!!  /COMPONENTS  !!!!!!!!!!!!!!!!!*/
