body {
    overflow: hidden;
}
h1, h2, button, label, a {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    color: #6D32BA;
}
h1 {
    font-size: 30px;
    font-weight: 800;
    color: #9747FF;
}
@media (max-width: 400px) {
    h2, button, label{
        font-size: 15px;
    }
    h1{
        font-size: 24px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-text);
    transition: background-color 5000s ease-in-out 0s;
}

.auth-main {
    background-color: var(--color-bg-header);
    max-width: 500px;
    height: 85%;
    border: 3px solid #8800FF;
    box-shadow: 0 0 15px #8800FF, 0 0 30px #8800FF, 0 0 15px #8800FF;
    border-radius: 20px;
    margin: 50px auto 0 auto;
}
.auth-container {
    padding: 0 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}
.auth-logo{ 
    position: absolute;
    top: 30px;
    left: 50px;
    width: 80px;
} 

@media(max-width:700px) {
    .auth-header img{
        margin-left: -25px;
        margin-top: 15px;
    }
}

.auth-title {
    text-align: center;
    margin: 30px 0 30px 0;
}
.auth-services {
    height: 40px;
    margin: 15px 0 40px 0;
}
.auth-service {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #0D0316;
    border-radius: 10px;
}
.auth-service img {
    width: 30px;
    margin-right: 15px;
}
.auth-service p {
    color: #0D0316;
}
.auth-form {
    position: relative;
}
.auth-input {
    border: 1px solid #9747FF;
    border-radius: 7px;
    width: 100%;
    height: 35px;
    background-color: transparent;
    color: var(--color-text);
    font-size: 16px;
    padding-left: 5px;
    margin: 5px 0 20px 0;
    transition: box-shadow 0.2s ease-out;
    
    &:focus {
        box-shadow: 0 0 10px #8800FF, 0 0 5px #8800FF;
    }
}
.non_field_errors ul li{
    color: #c70000;
    font-size: 16px;
    padding-bottom: 20px;
}
.signup-errors ul li {
    color: #c70000;
    font-size: 16px;
    margin-top: -15px;
    margin-bottom: 20px;
}
.auth-forgot {
    color: #9747FF;
    font-size: 18px;
}
.auth-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
    width: 200px;
    height: 45px;
    margin: 0 auto;
    border: 2px solid #9747FF;
    border-radius: 10px;
    color: #ffffff;
    background-color: #6D32BA;
    font-size: 24px;
}
.anotherway {
    position: relative;
    bottom: -120px;
    align-self: center;    
    display: flex;
    align-items: center;
}
.auth-title__signup{
    white-space: nowrap;
    margin: 0 0 0 20px;
}

@media (max-height:720px) {
    .auth-button {
        bottom: -40px
    }
    .auth-services {
        margin-bottom: 20px;
    }
}